[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:estevesnp/nvimrc.git
    branch = main
[submodule ".config/tmux/rose-pine-tmux"]
	path = .config/tmux/rose-pine-tmux
	url = git@github.com:estevesnp/rose-pine-tmux.git
    branch = main
[submodule ".zsh/plugins/LS_COLORS"]
	path = .zsh/plugins/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/plugins/git-prompt.zsh"]
	path = .zsh/plugins/git-prompt.zsh
	url = https://github.com/woefe/git-prompt.zsh
